{% extends 'accounts/base_accounts.html' %}
{% block title %}Password changed!{% endblock %}
{% block content %}
<p></p>
<p></p>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Password changed!</h3>
          <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
          </div>
          <a href="{% url 'accounts:login' %}" class="btn btn-secondary btn-block">Return to log in</a>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
{% endblock %}
